<!DOCTYPE html>

<html>
    <head>
        <title>Ma todolist</title>
        <style>
            a {text-decoration: none; color: black;}
			li { list-style-type: none; }
			li input { margin-right: 10px; }
			li .supprimer { margin-left:10px; color:red; font-weight:bold; font-size:60%; cursor:pointer }
        </style>
    </head>

    <body>
        <h1>Ma todolist</h1>
        
        <ul>
        <% todolist.forEach(function(tache, index) { %>
            <li data-id='<%= tache.id %>'>
                <button onclick="setStatus()"> <input type='checkbox' /><%= tache.libelle %> </button>
				<span class='supprimer' onclick="deleteTache()">✕</span>
			</li>
        <% }); %>
        </ul>

        <form onsubmit='return false;'>
            <p>
                <label for="newtodo">Nouvelle tâche : </label>
                <input type="text" name="libelle" id="libelle" autofocus />
                <input type="submit" value="Ajouter" onclick="addTache()"/>
            </p>
        </form>
        
        <script src="assets/js/fetch.js"></script>
    </body>
</html>