<!DOCTYPE html>

<html>

<head>
    <title>Ma todolist</title>
    <link title="style" rel="stylesheet" href="assets/css/style.css">
</head>

<body>
    <h1>Ma todolist</h1>

    <ul id="taches">
        <% todolist.forEach(function(tache, index) { %>
            <li class='<%=tache.status%>' id='<%= tache.id %>'>
                <button onclick="setStatus(this)"><%= tache.libelle %></button>
                <span class='supprimer' onclick="deleteTache(this)">✕</span>
            </li>
            <% }); %>
    </ul>

    <form onsubmit='return false;'>
        <p>
            <label for="newtodo">Nouvelle tâche : </label>
            <input type="text" name="libelle" id="libelle" autofocus />
            <input type="submit" value="Ajouter" onclick="addTache()" />
        </p>
    </form>

    <script src="assets/js/fetch.js"></script>
</body>

</html>