<!DOCTYPE html>

<html>

<head>
    <title>Ma todolist</title>
    <link title="style" rel="stylesheet" href="assets/css/style.css">
</head>

<body>
    <h1 id="header">Ma todolist</h1>

    <div id="taches">
        <% todolist.forEach(function(tache, index) { %>
            <div class='<%=tache.status%>' id='<%= tache.id %>'>
                <button onclick="setStatus(this)"><%= tache.libelle %></button>
                <img src="assets/img/delete.png" onclick="deleteTache(this)">
            </div>
            <% }); %>
    </div>

    <div id="bottom">
        <input type="text" id="newtacheInput" placeholder="Nouvelle tâche" />
        <button id="newtacheButton" onclick="addTache()">Ajouter</button>
    </div>

    <script src="assets/js/fetch.js"></script>
</body>

</html>